h1 {
    color: rgb(240, 27, 12);
}
body {
    background-color: grey;
    font-family: 'Times New Roman', Times, serif;
}
.edd {
    line-height: 20px;
}
.mimi {
    line-height: 20px;

}
.tomm1{
    float: left;
    width: 25%
}
.mimi2 {
    line-height: 20px;

}
.wel{ 
    position: absolute;
    top: 35%;
    left: 20%;
    transform: translate(-505, -50%);
    font-size: 50px;
    color: rgb(255, 0, 0);
 }